.footer{
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);


}

.footer__content{
display: flex;
justify-content: space-between;
padding-left: 80px;
padding-right: 100px;
padding-top: 60px;


}

.footer__logo{
width: 116px;
height: 21px;
}

.footer__social-heading{
color: #fff;
font-family: "Inter";
font-weight: bold;
font-size: 16px;
line-height: 20px;

}

.footer__list{
  color: #fff;
  list-style: none;
}

.footer__list-item{
font-family: "Inter";
font-size: 16px;
line-height: 20px;
}

.footer__copyright{
margin-top: 100px;
padding-bottom: 60px;
padding-left: 80px;
color: #fff;
font-family: "Inter";
font-size: 16px;
line-height: 20px;
}
